.social-link {
  background-color: white;
  padding: 1rem;
  border-radius: 9999px;
  width: 4rem;
  height: 4rem;
  display: grid;
  place-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: background-color 0.3s ease;
}

.social-link svg {
  width: 2rem;
  height: 2rem;
}

.social-link::before {
  content: attr(data-social);
  position: absolute;
  background-color: var(--accent-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  transform: translateY(-30px) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(0.42, 0, 0.44, 1.68);
}

.social-link:hover {
  background-color: var(--accent-color);
  color: white;
}

.social-link:hover::before {
  transform: translateY(-65px) rotate(0);
  opacity: 1;
}
